@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

html {
    margin: 0;
}

body {
    
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    width: 1400px;
    padding: 44px 55px 0px 55px;
}

a {
    color: black;
    text-decoration: none;
}

main {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0px;
}

.titre-h2 {
    font-size: 22px;
    font-weight: 700;
}





#logo img {
    width: 61px;
}

menu {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}

menu li {
    width: 120px;
    margin-left: 40px;
    text-align: center;
}

.blue-bar {
    position: absolute;
    margin-left: -21px;
    top: 0;
    background: #0065FC;
    width: 162px;
    height: 2px;
    opacity: 0;
}

menu a {
    text-decoration: none;
    color: black;
}

menu a:hover {
    color: #0065FC;
}

menu a:hover .blue-bar {
    opacity: 1;
}





#recherche {
    margin: 0;
}

#recherche h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
}


#recherche-form {
    display: flex;
    flex-direction: row;
    height: 50px;
}

#recherche-form .icon-gps {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    font-size: 20px;
}

#recherche-form input[type=text] {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border: solid 1px #F2F2F2;
    padding: 0px 0px 0px 20px;
    width: 230px;
}

#recherche-form button[type=submit] {
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: solid 1px #0065FC;
    background: #0065FC;
    padding: 14px 16px 14px 16px;
    border-radius: 0px 15px 15px 0px;
}

#recherche .cherch-loupe {
    display: none;
}




#filtres {
    display: flex;
    align-items: center;
    width: auto;
    margin: 30px 0px 30px 0px;
}

#filtres h3 {
    font-weight: bold;
    font-size: 18px;
}

/* Gestion des Boutons Filtres */

.icon {
    color: #0065FC;
    font-size: 20px;
}
  
#filtres button {
    padding: 12px 20px 12px 20px;
    border-radius: 60px;
    border-width: 2px;
    background: white;
    border-color: #D9D9D9;
    border-style: solid;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
}

#filtres button:hover {
    background: #DEEBFF;
}





.infos {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 35px;
}

.info-icon {
    display: flex;
    border: solid 1px #D9D9D9;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    color: #0065FC;
    font-size: 13px;
}

.info-text {
    padding-top: 3px;
}









.heb-pop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.sec-hebergements {
    width: 840px;
    border-radius: 20px;
    padding: 40px 40px 20px 40px;
    background: #F2F2F2;
}

.sec-populaires {
    width: 340px;
    border-radius: 20px;
    padding: 40px 40px 0px 40px;
    background: #F2F2F2;
}

.sec-hebergements h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
    margin-bottom: 30px;
}

.sec-hebergements .more {
    display: flex;
    font-size: 18px;
    font-weight: 700;
}





.star-blue {
    color: #0065FC;
}

.star-grey {
    color: #F2F2F2;
}



/* Cartes verticales*/
.cartes-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.cartes {
    width: 236px;
    height: 199px;
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: #D9D9D9 3px 3px 10px 2px;
}

.cartes-bg {
    display: flex;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    align-items: center;
}

.cartes-bg img {
    width: 100%;
}

.cartes-desc {
    width: auto;
    height: auto;
    padding-left: 10px;
    background: white;
}

.cartes-desc h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
}

.cartes-desc p {
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0px 0px 0px;
}

.cartes-desc .stars {
    font-size: 12px;
    word-spacing: -3px;
}









.titre-pop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.titre-pop h2 {
    margin: 0px 0px 0px 0px;
    font-size: 22px;
    font-weight: 700;
}

.titre-pop i {
    font-size: 18px;
    color: #0065FC;
}






/* Cartes horizontales*/
.space-vertical {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
}

.cartes-horiz {
    height: 135px;
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: #D9D9D9 3px 3px 10px 2px;
}

.cartes-bg-horiz {
    display: flex;
    width: 137px;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.cartes-bg-horiz img {
    height: 100%;
}

.cartes-bg-horiz-imgvertic {
    display: flex;
    width: 137px;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
    align-items: center;
}

.cartes-bg-horiz-imgvertic .imgvertic {
    width: 100%;
}

.cartes-desc-horiz {
    position: relative;
    width: 169px;
    height: auto;
    padding: 0px 15px 0px 15px;
    background: white;
}

.cartes-desc-horiz h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
}

.cartes-desc-horiz p {
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0px 0px 0px;
}

.cartes-desc-horiz .stars {
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    word-spacing: -3px;
}





.activites-titre {
    margin: 0px 0px 10px 0px;
}

.sec-activites {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.activites-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 440px;
    border-radius: 20px;
    box-shadow: #D9D9D9 0px 3px 10px;
    overflow: hidden;
}

.activites-bg {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.activites-name {
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    background: white;
}

.activites-box img {
    object-position: 0px 23px;
    transform: scale(1.15);
}

.activites-box .activites-img-vertical {
    transform: scale(1.20);
}





.sec-footer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    bottom: 0px;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    width: 1339px;
    background: #F2F2F2;
    justify-content: space-between;
    padding: 45px 70px 45px 70px;
    margin: 0px;
}

footer h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

footer div {
    width: 30%;
}
























/* VERSION TABLETTE */
@media (max-width: 991px) {
    html {
        height: auto;
        width: auto;
        padding: 0;
        margin: 0;
    }
    body {
        display: block;
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    header {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .blue-bar {
        display: none;
    }




    .icon {
        color: #0065FC;
        font-size: 20px;
    }
    
    #filtres button {
        margin-left: 10px;
        font-size: 16px;
    }

    .heb-pop {
        flex-direction: column;
    }

    .sec-hebergements {
        min-width: 0;
        width: auto;
    }

    .sec-populaires {
        min-width: 0;
        width: auto;
        margin-top: 50px;
    }



    .cartes-box {
        justify-content: space-between;
    }

    .cartes {
        width: 206px;
    }





    .space-vertical {
        flex-direction: row;
        margin-bottom: 50px;
    }

    .cartes-horiz {
        height: 135px;
        background: white;
        border-radius: 20px;
        padding: 5px;
        box-shadow: #D9D9D9 3px 3px 10px 2px;
    }

    .cartes-bg-horiz {
        width: 90px;
    }

    .cartes-bg-horiz-imgvertic {
        width: 90px;
    }

    .cartes-bg-horiz-imgvertic img {
        transform: scale(1.15);
    }

    .cartes-desc-horiz {
        width: 125px;
        padding: 0px 0px 0px 8px;
    }

    .cartes-desc-horiz p {
        font-size: 13px;
        font-weight: 400;
    }




    .sec-activites {
        width: 100%;
    }

    .activites-box {
        width: 180px;
        height: 270px;
    }

    .activites-box img {
        object-position: 0px 10px;
        transform: scale(1.15);
    }

    .activites-box .activites-img-vertical {
        transform: scale(1.45);
    }

    .activites-bg {
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        flex: 5;
    }

    .activites-name {
        padding: 5px 20px 5px 20px;
        flex: 1;
        display: flex;
        align-items: center;
    }



    footer {
        width: 100%;
    }

}






















/* VERSION MOBILE */
@media (max-width: 767px) {

    html {
        height: auto;
        width: 100%;
        min-width: 0;
        padding: 0;
        margin: 0;
    }

    body {
        flex-direction: column;
        width: 100%;
        min-width: 0;
        padding: 0;
    }

    header {
        min-width: 0;
        margin: 0 0 20px 0;
        padding: 20px 0 0 0;
        flex-direction: column;
        align-items: center;
    }


    nav {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    menu {
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 0;
        justify-content: space-around;
    }
    
    menu li {
        width: 100%;
        margin: 0px;
    }
    
    .blue-bar {
        display: flex;
        position: relative;
        margin: 0;
        padding: 0;
        top: auto;
        bottom: -45px;
        background: #F2F2F2;
        width: 100%;
        height: 3px;
        opacity: 1;
    }

    menu a:hover .blue-bar {
        background: #0065FC;
    }




    #recherche-form .icon-gps {
        width: 80px;
    }

    #recherche-form input[type=text] {
        width: 100%;
    }

    #recherche .cherch-txt {
        display: none;
    }

    #recherche .cherch-loupe {
        display: inline;
    }


    article {
        padding: 20px;
    }





    #filtres {
        flex-wrap: wrap;
    }

    #filtres form {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    #filtres button {
        display: flex;
        font-size: 11px;
        width: 155px;
        padding: 10px 0px 10px 10px;
        align-items: center;
        margin: 10px 0px 10px 0px;
    }

    .infos {
        align-items: flex-start;
        font-size: 15px;
        margin-bottom: 15px;
        width: 100%;
    }

    .info-icon {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
    

    .heb-pop {
        flex-direction: column;
    }

    .sec-hebergements {
        min-width: 0;
        width: auto;
        border-radius: 0;
        background: white;
        order: 2;
        margin: 0;
        padding: 20px;
    }

    .sec-hebergements .cartes-box {
        margin: 0;
    }

    .sec-hebergements .more {
        display:none;
    }

    .sec-populaires {
        min-width: 0;
        width: auto;
        margin-top: 0;
        border-radius: 0;
        padding: 20px;
        order: 1;
    }



    .cartes-box {
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .cartes {
        width: auto;
        margin-bottom: 10px;
    }





    .space-vertical {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .cartes-horiz {
        margin-bottom: 10px;
    }

    .cartes-bg-horiz {
        width: 117px;
    }

    .cartes-bg-horiz-imgvertic {
        width: 117px;
    }

    .cartes-bg-horiz-imgvertic img {
        transform: scale(1.15);
    }

    .cartes-desc-horiz {
        width: 55%;
        padding: 0px 0px 0px 8px;
    }

    .cartes-desc-horiz p {
        font-size: 13px;
    }



    .activites-titre {
        width: 50%;
    }

    .sec-activites {
        flex-direction: column;
    }

    .activites-box {
        width: 100%;
        height: 190px;
        margin-bottom: 20px;
    }

    .activites-bg {
        display: inline-block;
    }

    .activites-box img {
        object-position: 0px -25px;
        transform: scale(1);
        width: 100%;
        height: auto;
    }

    .activites-box .activites-img-vertical {
        transform: scale(1.00);
        object-position: 0px -150px;
    }



    footer {
        width: 100%;
        flex-direction: column;
    }

    footer div {
        width: 100%;
        margin-bottom: 30px;
    }

}