@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

main {
    padding: 44px 55px 0px 55px;
    width: 1400px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0px;
}

.titre-h2 {
    font-size: 22px;
    font-weight: 700;
}





#logo img {
    width: 61px;
}

menu {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}

menu li {
    width: 120px;
    margin-left: 40px;
    text-align: center;
}

.blue-bar {
    position: absolute;
    margin-left: -21px;
    top: 0;
    background: #0065FC;
    width: 162px;
    height: 2px;
    opacity: 0;
}

menu a {
    text-decoration: none;
    color: black;
}

menu a:hover {
    color: #0065FC;
}

menu a:hover .blue-bar {
    opacity: 1;
}





#recherche {
    margin: 0;
}

#recherche h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
}


#recherche-form {
    display: flex;
    flex-direction: row;
    height: 50px;
}

#recherche-form i {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    font-size: 20px;
}

#recherche-form input[type=text] {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border: solid 1px #F2F2F2;
    padding: 0px 0px 0px 20px;
    width: 230px;
}

#recherche-form input[type=submit] {
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: solid 1px #0065FC;
    background: #0065FC;
    padding: 14px 16px 14px 16px;
    border-radius: 0px 15px 15px 0px;
}






.bg-blue {
    background: #0065FC;
}

.bg-grey {
    background: #F2F2F2;
}







#filtres {
    display: flex;
    align-items: center;
    width: auto;
    margin: 30px 0px 30px 0px;
}

#filtres h3 {
    font-weight: bold;
    font-size: 18px;
}

/* Gestion des icones dans les inputs */
#filtres .btn {
    margin-left: 50px;
    border-radius: 60px;
}
  
.icon {
    color: #0065FC;
    font-size: 20px;
}
  
#filtres button {
    padding: 12px 20px 12px 20px;
    border-radius: 60px;
    border-width: 2px;
    background: white;
    border-color: #D9D9D9;
    border-style: solid;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

#filtres button:hover {
    background: #DEEBFF;
}





.infos {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 35px;
}

.info-icon {
    display: flex;
    border: solid 1px #D9D9D9;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    color: #0065FC;
    font-size: 13px;
}

.info-text {
    padding-top: 3px;
}









.heb-pop {
    justify-content: space-between;
    width: 100%;
}

.sec-hebergements {
    width: 840px;
    border-radius: 20px;
    padding: 40px 40px 20px 40px;
}

.populaires {
    width: 340px;
    border-radius: 20px;
    padding: 40px 40px 0px 40px;
}

.space-vertical {
    height: 85%;
    justify-content: space-between;
}

.sec-hebergements h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
    margin-bottom: 30px;
}

.sec-hebergements .more {
    display: flex;
    font-size: 18px;
    font-weight: 700;
}





.star-blue {
    color: #0065FC;
}

.star-grey {
    color: #F2F2F2;
}



/* Cartes verticales*/
.cartes-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.cartes {
    width: 236px;
    height: 199px;
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: #D9D9D9 3px 3px 10px 2px;
}

.cartes-bg {
    display: flex;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    align-items: center;
}

.cartes-bg img {
    width: 100%;
}

.cartes-desc {
    width: auto;
    height: auto;
    padding-left: 10px;
}

.cartes-desc h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
}

.cartes-desc p {
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0px 0px 0px;
}

.cartes-desc .stars {
    font-size: 12px;
    word-spacing: -3px;
}









.titre-pop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.titre-pop h2 {
    margin: 0px 0px 0px 0px;
    font-size: 22px;
    font-weight: 700;
}

.titre-pop i {
    font-size: 18px;
    color: #0065FC;
}






/* Cartes horizontales*/
.cartes-horiz {
    height: 135px;
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: #D9D9D9 3px 3px 10px 2px;
    /* margin-bottom: 50px; */
}

.cartes-bg-horiz {
    display: flex;
    width: 137px;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.cartes-bg-horiz img {
    height: 100%;
}

.cartes-bg-horiz-imgvertic {
    display: flex;
    width: 137px;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
    align-items: center;
}

.cartes-bg-horiz-imgvertic .imgvertic {
    width: 100%;
}

.cartes-desc-horiz {
    position: relative;
    width: 169px;
    height: auto;
    padding: 0px 15px 0px 15px;
}

.cartes-desc-horiz h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
}

.cartes-desc-horiz p {
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0px 0px 0px;
}

.cartes-desc-horiz .stars {
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    word-spacing: -3px;
}





.activites-titre {
    margin: 50px 0px 10px 0px;
}

.sec-activites {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.activites-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 440px;
    border-radius: 20px;
    box-shadow: #D9D9D9 0px 3px 10px;
    overflow: hidden;
}

.activites-bg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.activites-name {
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
}

.activites-box img {
    object-position: 0px 23px;
    transform: scale(1.15);
}

.activites-box .activites-img-vertical {
    transform: scale(1.20);
}





.sec-footer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    bottom: 0px;
}

footer {
    width: 1339px;
    background: #F2F2F2;
    justify-content: space-between;
    padding: 45px 70px 45px 70px;
    margin: 0px;
}

footer h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

footer div {
    width: 30%;
}